<div class='flex-row lg:flex items-center mb-2'>
    <input type="checkbox" class="form-checkbox h-5 w-5 text-gray-600" (change)="handleCheckboxChange()" [checked]="inputDone" />
    <ng-container *ngIf="isEditing; else viewMode">
      <input
        type='text'
        class='form-input ml-2 text-gray-700'
        [(ngModel)]="inputName"
        (blur)="handleInputBlur()"
        autofocus
      />
    </ng-container>
    <ng-template #viewMode>
      <span class='ml-2 text-white-700' (click)="handleSpanClick()">
        {{ inputName }}
      </span>
    </ng-template>
    <button 
      class="ml-2 p-2 bg-red-600 text-white rounded-lg ml-auto"
      (click)="deleteTask()"
    >(-)</button>
</div>